<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>Page Editor - {{page_title}}</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="styles/a789aacd.main.css"/>

    </head>
    <body ng-app="bookLayoutEditorApp">

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!--[if lt IE 9]>
            <script src="scripts/vendor/61e2728c.es5-shim.min.js"></script>
            <script src="scripts/vendor/241d7c33.json3.min.js"></script>
        <![endif]-->
        <div class="container-fluid">
          <div class="span2 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav" ng-controller="NavController">
              <li ng-repeat="navItem in navCollection" class="{{navClass(navItem.id)}}">
              <a href="" ng-click="navigateToSection(navItem.id)">
                <i class="icon-chevron-right"></i>
                {{navItem.title}}
                </a>
              </li>
              <li>
                <select style="width: inherit " ng-model="book_language" ng-options="obj.val as obj.name for obj in book_page_languages"></select>
              </li>
              <li><h3>{{book_language | langName}}</h3></li>
              <li ng-repeat="bookItem in book_pages[book_language]" class="{{navClass('pages/'+book_language+'/' + ($index+1))}}">
              <a href="" ng-click="navigateToSection('pages/'+book_language+'/' + ($index+1))">
                <i class="icon-chevron-right"></i>
                Page {{$index+1}}
                </a>
              </li>
              <li class="{{navClass('pages/'+book_language+'/new')}}">
              <a href="" ng-click="navigateToSection('pages/'+book_language+'/new')">
                <i class="icon-plus"></i>
                Add Page
                </a>
              </li>
            </ul>
          </div>
          <div class="span10" ng-view>
            <!-- Add your site or application content here -->
          </div>
        </div>

        <script src="scripts/vendor/8695ff3f.angular.js"></script>

        <script src="scripts/b8ef0765.scripts.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
