<section id="Page_{{pageNumber}}">
  <div class="navbar">
    <div class="navbar-inner">
      <span class="brand">Page {{pageNumber}}</span>
      <ul class="nav">
        <li><a href="#">Add Line</a></li>
        <li><a href="#">Edit Styles</a></li>
        <li><a href="#">Delete Page</a></li>
        <li>Show As: <select style="width:inherit"><option>UNREAD</option><option>READING</option><option>READ</option></select></li>
        <li><a href="#">Toggle Grid</a></li>
      </ul>
    </div>
  </div>
</section>
