<section id="Page_{{pageNumber}}">
  <div class="navbar">
    <div class="navbar-inner">
      <span class="brand">Page {{pageNumber}}</span>
      <ul class="nav">
        <li><a class="btn" href="#"><i class="icon-plus"></i> Add Line</a></li>
        <li><a class="btn" href="#"><i class="icon-book"></i> Edit Styles</a></li>
        <li><a class="btn" href="#"><i class="icon-minus"></i> Delete Page</a></li>
        <li><a class="btn" href="#"><i class="icon-th"></i> Toggle Grid</a></li>
        <li><a class="btn" href="" ng-click='showViews()'><i class="icon-eye-open"></i> Change View</a></li>
      </ul>
    </div>
  </div>
</section>
